.button,
.button:before {
	border-radius: 3rem;
}

.button_cont {
	margin: 2rem;
}

.button {
	background: transparent;
	padding: 1rem 2rem;
	min-width: 2rem;
	min-height: 4rem;
	font-family: var(--chonkyFont);
	font-size: 2rem;
	border: 1px dashed var(--primaryColour);
	color: var(---bodyTextcolour);
	position: relative;
	margin: 0.25rem;
	transition: all 0.2s ease;
	cursor: pointer;
}

.button:before {
	position: absolute;
	content: " ";
	width: calc(100% + 10px);
	height: calc(100% + 10px);
	top: -6px;
	left: -6px;
	border: 1px solid var(--primaryColour);
	transition: all 0.2s ease;
	transform-origin: center center;
}

.button.small {
	font-size: 1.2rem;
	padding: 0.25rem 1rem;
	min-height: 2rem;
}
.button.small.icon {
	padding-left: 2rem;
}

.button.small.icon span {
	width: 2rem;
}

.button.icon {
	padding-left: 4rem;
}

.button:hover:before {
	transform: scaleX(1.02) scaleY(1.03) translateY(-2px) translateX(-2px);
	border: 3px solid var(--primaryColour);
	transform-origin: center center;
}

.button span {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 4rem;
	height: 100%;
	top: 0;
	left: 0;
	transition: all 0.2s ease;
}

.button:hover svg {
	animation: shake 0.5s alternate;
	transform-origin: center right;
}

@keyframes shake {
	0%,
	100% {
		transform: rotate(0deg);
	}
	10% {
		transform: rotate(2deg);
	}
	20%,
	90% {
		transform: rotate(-2deg);
	}
	30%,
	70% {
		transform: rotate(6deg);
	}
	40%,
	80% {
		transform: rotate(-6deg);
	}
	50% {
		transform: rotate(10deg);
	}
	60% {
		transform: rotate(-10deg);
	}
}
