:root {
	--desktopPadding: 3rem 5rem;
	--mobilePadding: 2rem 3rem;
	--aboveAll: 1000;

	--chonkyFont: "Bebas Neue", cursive;
	--standardFont: "Open Sans";

	--bodyTextcolour: #e5d9d3;

	--primaryColour: rgb(255, 106, 102);
	--darkColour: rgb(17, 16, 15, 1);
}
* {
	box-sizing: border-box;
}
html {
	overflow: hidden;
	width: 100%;
}
body {
	padding: 0;
	margin: 0;
	height: 100%;
	position: fixed;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	color: var(--bodyTextcolour);
	font-family: var(--standardFont);
	background:var(--darkColour)
}

/*  Border Styling  */

.bdr-t-solid,
.bdr-t-dash,
.bdr-b-solid {
	position: relative;
}

.bdr-b-solid:before,
.bdr-t-solid:before,
.bdr-t-dash:before {
	content: " ";
	position: absolute;
	left: 0;
	height: 1px;
	width: 100%;
	background: rgb(255, 106, 102);
	background: linear-gradient(
		45deg,
		rgba(255, 106, 102, 0) 0%,
		rgba(255, 106, 102, 1) 50%,
		rgba(255, 106, 102, 0) 100%
	);
}
.bdr-t-solid:before,
.bdr-t-dash:before {
	top: 0;
}
.bdr-b-solid:before {
	bottom: 0;
	z-index: 10;
}

/*  Font Styling  */

h2,
.chonky {
	font-family: var(--chonkyFont);
}

/*  Util Classes  */

.flex-center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.flex-between {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.wrapper {
	display: flex;
	flex-direction: row;
}

/*  Structure Classes  */

main {
	width: 100vw;
	height: 100vh;
	position: relative;
	z-index: 2;
}

.content {
	position: relative;
	z-index: 5;
	padding: var(--desktopPadding);
}

section.overflow-hidden {
	height: 100vh;
	width: 100%;
	position: relative;
	overflow: hidden;
}

@media screen and (min-width: 770px) {
	main {
		width: 70vw;
		margin-left: 30vw;
	}
}
